@charset "utf-8";
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

$font-family: 'Noto Sans', sans-serif;

body {
  background: #DDDDDD;
  text-align: left;
  font-family: $font-family;
  font-size: 1em;
  background: url(image_url('front.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;

  main {
    h1 {
      font-family: $font-family;
      font-weight: 400;
      max-width: 940px;

      @media (max-width:939px) {
        font-size: 1.3em;
        margin: 10px auto;
      }

      @media (min-width:940px) {
        font-size: 1.8em;
        margin: 10px auto;
      }
    }

    img.default {
      width: 100%;
      height: auto;
    }
  }
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
  border: solid black 1px;
}

//.iframe-wrapper iframe {
//  position: absolute;
//  top:0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//}
//
//.holder {
//  max-width: 940px;
//  margin: 0 auto;
//}
//
//.slide-description {
//  text-align: center;
//  font-weight: 700;
//  margin-bottom: 20px;
//}

p {
  max-width: 940px;
  margin-bottom: 0 auto 20px;
}

//p.quicklinks {
//  margin-top: 50px;
//}
//.quicklinks {
//  a {
//    color: #000;
//  }
//}
//
//#slides {
//  display: none
//}
//
//#slides .slidesjs-navigation {
//  margin-top:5px;
//}
//
//a.slidesjs-next,
//a.slidesjs-previous,
//a.slidesjs-play,
//a.slidesjs-stop {
//  background-image: url(image_path('btns-next-prev.png'));
//  background-repeat: no-repeat;
//  display:block;
//  width:12px;
//  height:18px;
//  overflow: hidden;
//  text-indent: -9999px;
//  float: left;
//  margin-right:5px;
//}
//
//a.slidesjs-next {
//  margin-right:10px;
//  background-position: -12px 0;
//}
//
//a:hover.slidesjs-next {
//  background-position: -12px -18px;
//}
//
//a.slidesjs-previous {
//  background-position: 0 0;
//}
//
//a:hover.slidesjs-previous {
//  background-position: 0 -18px;
//}
//
//a.slidesjs-play {
//  width:15px;
//  background-position: -25px 0;
//}
//
//a:hover.slidesjs-play {
//  background-position: -25px -18px;
//}
//
//a.slidesjs-stop {
//  width:18px;
//  background-position: -41px 0;
//}
//
//a:hover.slidesjs-stop {
//  background-position: -41px -18px;
//}
//
//.slidesjs-pagination {
//  margin: 7px 0 0;
//  float: right;
//  list-style: none;
//}
//
//.slidesjs-pagination li {
//  float: left;
//  margin: 0 1px;
//}
//
//.slidesjs-pagination li a {
//  display: block;
//  width: 13px;
//  height: 0;
//  padding-top: 13px;
//  background-image: url(image_path('pagination.png'));
//  background-position: 0 0;
//  float: left;
//  overflow: hidden;
//}
//
//.slidesjs-pagination li a.active,
//.slidesjs-pagination li a:hover.active {
//  background-position: 0 -13px
//}
//
//.slidesjs-pagination li a:hover {
//  background-position: 0 -26px
//}
//
//#slides a:link,
//#slides a:visited {
//  color: #333
//}
//
//#slides a:hover,
//#slides a:active {
//  color: #9e2020
//}

.navbar {
  overflow: hidden
}

.container {
  margin: 0 auto
}

/* For tablets & smart phones */
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    width: auto
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .container {
    width: auto
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 939px) {
  .container {
    width: 724px
  }
}

/* For larger displays */
@media (min-width:940px) {
  .container {
    width: 940px
  }
}
